<%= form_for [@sprintblock] do |f| %>
  <% if @sprintblock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.sprintblock.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprintblock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>

  <div clas="field">
    <%= f.label :start %>
    <%= f.date_field :start %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
