<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :duration_number %><br>
    <%= f.number_field :duration_number %>
  </div>
  <div class="field">
    <%= f.label :duration_length %><br>
    <%= f.text_field :duration_length %>
  </div>
  Display sections?
  <div class="field">
    <%= f.label :backlog? %>
    <%= f.check_box :backlog_display %>
  </div>
  <div class="field">
    <%= f.label :committed? %>
    <%= f.check_box :committed_display %>
  </div>
  <div class="field">
    <%= f.label :started? %>
    <%= f.check_box :started_display %>
  </div>
  <div class="field">
    <%= f.label :qa? %>
    <%= f.check_box :qa_display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
