<p id="notice"><%= notice %></p>


<% if @project.user_ids.include?(current_user.id) %>
	<%= @sprintblocks.name %> <%= @sprintblocks.start %> - <%= @sprintblocks.end %>
	<%= render 'stories/index' %>

	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>

	<%= javascript_tag do %>
		var projid = '<%= @project.id %>'
	<% end %>
<% end %>