  <ul>
    <li class="header"><div class="listheader">Committed Stories</div></li>
    <% @commits.each do |commit| %>
      <% domid = "story_#{commit.id}" %>
      <% if commit.value == 8 %>
        <% initial = 'G' %>
      <% elsif commit.value == 4 %>
        <% initial = 'P' %>
      <% elsif commit.value == 2 %>
        <% initial = 'T' %>
      <% elsif commit.value == 20 %>
        <% initial = 'K' %>
      <% else %>
        <% initial = '?' %>
      <% end %>
      <li class="hoveritem committed-stories draggable" data-story-id="<%= commit.id %>"><div class="itemstyle"><span class="pointVal"><%= initial %></span><%= link_to commit.title, story_path(commit) %><div class="clickspace" style="width: 153px; height: 27px; position: absolute; margin-top: -23px; margin-left: 118px;"></div><span class="editbutton" style="float: right; padding-right: 5px; margin-top: 0px;"><a data-method="get" href="/stories/<%=commit.id%>/edit" class="glyphicon glyphicon-edit"></a></span></div>
        <div class="hoverview-background">
          <div class="hoverview">
            <div class="hoverviewitem">
              
            </div>
            <div class="statusbutton">
                <%= form_for commit, remote: true, :html => {:class => "hoverform"} do |f| %>
                  <%= f.label :story_status %>
                  <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']], selected: commit.status), {}, {class: 'status'} %>
                  <%= f.submit "save" %>
                <% end %>
              </div>    
          </div>
        </div>
      </li>
      
    <% end %>
  </ul>

