  <ul class="sortable">
    <li class="header"><div class="listheader">Committed Stories</div></li>
    <% @commits.each do |commit| %>
      <% domid = "story_#{commit.id}" %>
      <% if commit.value == 8 %>
        <% initial = 'G' %>
      <% elsif commit.value == 4 %>
        <% initial = 'P' %>
      <% elsif commit.value == 2 %>
        <% initial = 'T' %>
      <% elsif commit.value == 20 %>
        <% initial = 'K' %>
      <% else %>
        <% initial = '?' %>
      <% end %>
      <li class="hoveritem committed-stories draggable" data-story-id="<%= commit.id %>"><div class="itemstyle"><span class="pointVal"><%= initial %></span><%= link_to commit.title, story_path(commit) %><div class="clickspace" style="width: 153px; height: 27px; position: absolute; margin-top: -23px; margin-left: 118px;"></div><span class="editbutton" style="float: right; padding-right: 5px; margin-top: 0px;"><a data-method="get" href="/stories/<%=commit.id%>/edit" class="glyphicon glyphicon-edit"></a></span></div>
        <div class="hoverview-background">
          <div class="hoverview">
            <div class="hoverviewitem">
              
            </div>
            <div class="statusbutton">
                <%= form_for commit, remote: true, :html => {:class => "hoverform"} do |f| %>
                  <%= f.label :story_status %>
                  <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']], selected: commit.status), {}, {class: 'status'} %>
                  <%= f.submit "save" %>
                <% end %>
              </div>    
          </div>
        </div>
      </li>
      
    <% end %>
  </ul>

  <script type="text/javascript">
$(document).ready(function(){
  hiders();
  dragdrop();

 
  $('.hoveritem').on('click', function(){
    $(this).addClass('highlight');
    var id = $(this).data('story-id');

    $.getJSON('/stories/' + id, function(response){
      var letter = response.audience[0];
      if (letter == 'a' || letter == 'e' || letter == 'i' || letter == 'o') {
        intro = 'As an ';
      } else {
        intro = 'As a ';
      }
      var item = $('<div></div>');
      $('<p style=\"font-family: Georgia;\"><a href=\"/stories/'+response.id+'\">'+intro+'<span>'+response.audience+'</span>'+' I want '+'<span>'+response.want+'</span>'+' so that I '+response.because+'</a></p>').appendTo(item);
      $('.hoverviewitem').html(item);
    });
    $(this).find('div').show();
  });

  $('.hoveritem').on('mouseenter', function(){
    $(this).find('.editbutton').show();
  });

  $('.hoveritem, .hoverview-background').on('mouseleave', function(){
    $(this).removeClass('highlight');
    $(this).find('.hoverview-background').hide();
    $(this).find('.editbutton').hide();
  });
});
// </script>

