<h1>Story Board</h1>
  <%= form_tag({controller: "stories", action: "tags"},  remote: true, method: 'get', id: "tag_search", data: {id: params[:id]}) do %>
      <p>
        <%= text_field_tag :search, params[:search_tags], html: { style: 'width: 200px'} %>
        <%= hidden_field_tag :project_id, params[:id] %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
  <% end %>
  <%= link_to "Clear tags", project_path(@project) %>
  <div id="searchterms"></div>
  <a href="/projects/<%= @project.id %>/edit" class="cog_edit"><span class="glyphicon glyphicon-cog cog_edit" style="left: 1185px; font-size: 15px;"></span></a>
<div>
  <% percent = (100 / @project.displaycount) %>
  <% if @project.backlog_display? %>
    <div style="width: <%= (percent.to_i - 1) %>%;" class="items list-items droppable" id="backlog-items" data-drop-status="backlog">

      <%= render partial: 'stories/backlog' %>
    </div> 
  <% end %><!-- backlog-items  -->
  <% if @project.committed_display? %>
    <div style="width: <%= percent.to_i %>%;" class="items list-items droppable" id="commit-items" data-drop-status="committed">
      <%= render partial: 'stories/commit'%>
    </div>
  <% end %>

  <% if @project.started_display? %>
  <div style="width: <%= percent.to_i %>%;" class="items list-items droppable" id="started-items" data-drop-status="started">
      <%= render partial: 'stories/start'%>
  </div>
  <% end %>

  <% if @project.qa_display? %>
  <div style="width: <%= percent.to_i %>%;" class="items list-items droppable" id="qa-items" data-drop-status="qa">
      <%= render partial: 'stories/qa'%>
  </div>
  <% end %>
</div>


<br>

