<h1>Story Board</h1>
  <%= form_tag({controller: "stories", action: "tags"},  remote: true, method: 'get', id: "tag_search") do %>
      <p>
        <%= text_field_tag :search, params[:search_tags], html: { style: 'width: 200px'} %>
        <%= hidden_field_tag :project_id, params[:id] %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
  <% end %>
  <%= link_to "Clear tags", project_path(@project) %>
  <div id="searchterms"></div>
<div>
  <div class="items list-items droppable" id="backlog-items" data-drop-status="backlog">

      <%= render partial: 'stories/backlog' %>
  </div> <!-- backlog-items  -->

  <div class="items list-items droppable" id="commit-items" data-drop-status="committed">
      <%= render partial: 'stories/commit'%>
  </div>

  <div class="items list-items droppable" id="started-items" data-drop-status="started">
      <%= render partial: 'stories/start'%>
  </div>
  <div class="items list-items droppable" id="qa-items" data-drop-status="qa">
      <%= render partial: 'stories/qa'%>
  </div>
</div>


<br>

