  <ul>
    <li class="header"><div class="listheader">QA Stories</div></li>
    <% @qas.each do |qa| %>
      <% if qa.value == 8 %>
        <% initial = 'G' %>
        <% elsif qa.value == 4 %>
          <% initial = 'P' %>
        <% elsif qa.value == 2 %>
          <% initial = 'T' %>
        <% elsif qa.value == 20 %>
          <% initial = 'K' %>
        <% else %>
          <% initial = '?' %>
      <% end %>

      <li class="hoveritem qa-stories draggable" data-story-id="<%= qa.id %>">
        <div class="itemstyle">
          <div class="pointVal">
            <%= initial %>
          </div>
          <%= link_to qa.title, story_path(qa) %>
          <span class="story_numbers">No. <%= qa.id %>
          </span>
          <div class="clickspace" style="width: 153px; height: 27px; position: absolute; margin-top: -23px; margin-left: 118px;">
          </div>
          <span class="editbutton" style="float: right; padding-right: 5px; margin-top: 0px;">
            <a data-method="get" href="/stories/<%=qa.id%>/edit" class="glyphicon glyphicon-edit">
            </a>
          </span>
          <div class="estimatebutton">
            <%= form_for qa, remote: true, :html => {:class => "hoverform"} do |f| %>
              <%= f.select :value, options_for_select([['Taster', 2], ['Pint', 4],['Growler', 8],['Keg', 20]], selected: qa.value), {}, {class: 'estimate'} %>
            <% end %>
          </div>
        </div>
        <div class="hoverview-background">
          <div class="hoverview">
            <div class="hoverviewitem">
              
            </div>
            <div class="statusbutton">
                <%= form_for qa, remote: true, :html => {:class => "hoverform"} do |f| %>
                  <%= f.label :story_status %>
                  <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']], selected: qa.status), {}, {class: 'status'} %>
                  <%= f.submit "save" %>
                <% end %>
              </div>    
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <script>
    $(document).ready(function(){
      hiders();
    });
  </script>

 