  <ul>
    <li class="header"><div class="listheader">Started Stories</div></li>
    <% @starts.each do |start| %>    

      <% if start.value == 8 %>
        <% initial = 'G' %>
        <% elsif start.value == 4 %>
          <% initial = 'P' %>
        <% elsif start.value == 2 %>
          <% initial = 'T' %>
        <% elsif start.value == 20 %>
          <% initial = 'K' %>
        <% else %>
          <% initial = '?' %>
      <% end %>
      <li class="hoveritem draggable" data-story-id="<%= start.id %>"><div class="itemstyle">
        <div class="pointVal">
          <%= initial %>
        </div>
        <%= link_to start.title, story_path(start) %></span><span class="story_numbers">No. <%= start.id %></span><div class="clickspace" style="width: 153px; height: 27px; position: absolute; margin-top: -23px; margin-left: 118px;"></div><span class="editbutton" style="float: right; padding-right: 5px; margin-top: 0px;"><a data-method="get" href="/stories/<%=start.id%>/edit" class="glyphicon glyphicon-edit"></a></span>
        <div class="estimatebutton">
          <%= form_for start, remote: true, :html => {:class => "hoverform"} do |f| %>
            <%= f.select :value, options_for_select([['Taster', 2], ['Pint', 4],['Growler', 8],['Keg', 20]], selected: start.value), {}, {class: 'estimate'} %>
          <% end %>
        </div></div>
        <div class="hoverview-background">
          <div class="hoverview">
            <div class="hoverviewitem">
              
            </div>
            <div class="statusbutton">
                <%= form_for start, remote: true, :html => {:class => "hoverform"} do |f| %>
                  <%= f.label :story_status %>
                  <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']], selected: start.status), {}, {class: 'status'} %>
                  <%= f.submit "save" %>
                <% end %>
              </div>    
          </div>
        </div>
      </li>
    <% end %>
  </ul>

 