<% if start.value == 8 %>
        <% initial = 'G' %>
      <% elsif start.value == 4 %>
        <% initial = 'P' %>
      <% elsif start.value == 2 %>
        <% initial = 'T' %>
      <% elsif start.value == 20 %>
        <% initial = 'K' %>
      <% else %>
        <% initial = '?' %>
      <% end %>
      <li class="hoveritem" data-story-id="<%= start.id %>"><div class="itemstyle"><span class="pointVal"><%= initial %></span><%= link_to start.title, story_path(start) %><span class="editbutton" style="float: right; padding-right: 5px"><a data-method="get" href="/stories/<%=start.id%>/edit" class="glyphicon glyphicon-edit"></a></span></div>
        <div class="hoverview">
          <div class="hoverviewitem">
            
          </div>
          <div class="statusbutton">
              <%= form_for start, remote: true, :html => {:class => "hoverform"} do |f| %>
                <%= f.label :story_status %>
                <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']], selected: start.status), {}, {class: 'status'} %>
                <%= f.submit "save" %>
              <% end %>
            </div>    
        </div>
      </li>