<h1>Story Board</h1>
<div>
  <div class="items list-items" id="backlog-items">

      <%= render partial: 'backlog' %>
  </div> <!-- backlog-items  -->

  <div class="items list-items droppable" id="commit-items">
      <%= render partial: 'commit'%>
  </div>

  <div class="items list-items" id="started-items">
      <%= render partial: 'start'%>
  </div>
  <div class="items list-items" id="qa-items">
      <%= render partial: 'qa'%>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Audience</th>
      <th>Want</th>
      <th>Because</th>
      <th>Estimate</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.audience %></td>
        <td><%= story.want %></td>
        <td><%= story.because %></td>
        <td><%= story.estimate %></td>
        <td><%= story.value %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
