<h1>Story Board</h1>
<div>
  <div class="items list-items droppable" id="backlog-items" data-drop-status="backlog">

      <%= render partial: 'backlog' %>
  </div> <!-- backlog-items  -->

  <div class="items list-items droppable" id="commit-items" data-drop-status="committed">
      <%= render partial: 'commit'%>
  </div>

  <div class="items list-items droppable" id="started-items" data-drop-status="started">
      <%= render partial: 'start'%>
  </div>
  <div class="items list-items droppable" id="qa-items" data-drop-status="qa">
      <%= render partial: 'qa'%>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Audience</th>
      <th>Want</th>
      <th>Because</th>
      <th>Estimate</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.audience %></td>
        <td><%= story.want %></td>
        <td><%= story.because %></td>
        <td><%= story.estimate %></td>
        <td><%= story.value %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>

<script type="text/javascript">
$(document).ready(function(){
  hiders();
  dragdrop();
 
  $('.clickspace').on('click', function(){
    console.log('hover item click');
    $(this).addClass('highlight');
    var id = $(this).data('story-id');

    $.getJSON('/stories/' + id, function(response){
      console.log('got stories from clickspace');
      var letter = response.audience[0];
      if (letter == 'a' || letter == 'e' || letter == 'i' || letter == 'o') {
        intro = 'As an ';
      } else {
        intro = 'As a ';
      }
      var item = $('<div></div>');
      $('<p style=\"font-family: Georgia;\"><a href=\"/stories/'+response.id+'\">'+intro+'<span>'+response.audience+'</span>'+' I want '+'<span>'+response.want+'</span>'+' so that I '+response.because+'</a></p>').appendTo(item);
      $('.hoverviewitem').html(item);
    });
    $(this).find('div').show();
  });

  $('.hoveritem').on('mouseenter', function(){
    $(this).find('.editbutton').show();
  });

  $('.hoveritem, .hoverview-background').on('mouseleave', function(){
    $(this).removeClass('highlight');
    $(this).find('.hoverview-background').hide();
    $(this).find('.editbutton').hide();
  });
  $('.estimate').on('change', function(){
    $(this).submit();
  });
  $('.pointval').on('click', function(e){
    $(this).next('.estimatebutton').show();
    console.log("click on pointval");
    e.stopPropagation();
  });
});
// </script>

