<h1>Listing stories</h1>

<div class="backlog-items">
  <ul>
    <% @stories.each do |story| %>
      <% if story.value == 8 %>
        <% initial = 'G' %>
      <% elsif story.value == 4 %>
        <% initial = 'P' %>
      <% elsif story.value == 2 %>
        <% initial = 'T' %>
      <% elsif story.value == 20 %>
        <% initial = 'K' %>
      <% else %>
        <% initial = '?' %>
      <% end %>
      <li class="hoveritem" data-story-id="<%= story.id %>"><span class="pointVal"><%= initial %></span><%= link_to story.title, story_path(story) %><span style="float: right; padding-right: 5px"><%= story.status %></span>
        <div class="hoverview">

        </div>
      </li>
    <% end %>
  </ul>

</div>  <!-- backlog-items  -->

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Audience</th>
      <th>Want</th>
      <th>Because</th>
      <th>Estimate</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.audience %></td>
        <td><%= story.want %></td>
        <td><%= story.because %></td>
        <td><%= story.estimate %></td>
        <td><%= story.value %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
