
<% if @story.errors.any? -%>
  $("#flash_notice").hide(300);
  $("#post_errors").html("<%= escape_javascript(error_messages_for(@post))%>");
  $("#post_errors").show(300);
<% else -%>
	console.log("worked");
  $("#post_errors").hide(300);
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");
  $("#flash_notice").show(300);
  $(":input:not(input[type=submit])").val("");
  $("#backlog-items").html("<%= j render partial: "backlog" %>");
  $("#commit-items").html("<%= j render partial: "commit" %>");
  $("#qa-items").html("<%= j render partial: "qa" %>");
  $("#started-items").html("<%= j render partial: "start" %>");
  $('.hoverview-background').hide();
	$('.editbutton').hide();
	$('.cog-hover').hide();
	$('.hoveritem').on('click', function(){
		$(this).addClass('highlight');
		var id = $(this).data('story-id');

		$.getJSON('/stories/' + id, function(response){
			var letter = response.audience[0];
			if (letter == 'a' || letter == 'e' || letter == 'i' || letter == 'o') {
				intro = 'As an ';
			} else {
				intro = 'As a ';
			}
			var item = $('<div></div>');
			$('<p style=\"font-family: Georgia;\"><a href=\"/stories/'+response.id+'\">'+intro+'<span>'+response.audience+'</span>'+' I want '+'<span>'+response.want+'</span>'+' so that I '+response.because+'</a></p>').appendTo(item);
			$('.hoverviewitem').html(item);
		});
		$(this).find('div').show();
	});

	$('.hoveritem').on('mouseenter', function(){
		$(this).find('.editbutton').show();
	});

	$('.hoveritem, .hoverview-background').on('mouseleave', function(){
		$(this).removeClass('highlight');
		$(this).find('.hoverview-background').hide();
		$(this).find('.editbutton').hide();
	});
<% end -%>