<!DOCTYPE html>
<html>
<head>
  <title>Sprint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" style="float: right; margin-right: 200px; margin-top: 9px;">
      <li class="active">
      	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  				New Story
				</button>
			</li>
    </ul>
   </div>
</nav>
<body>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">New Story</h4>
	      </div>
	      <div class="modal-body">
	        <%= form_for Story.new, :html => {:class => "form-inline"} do |f| %>
					  

					  <div class="form-group">

					    <p><span>Story Title  </span><%= f.text_field :title, class: 'form-control titlefield', placeholder: 'Title of story' %></p>

					    <p><span id="vowelchange">As a </span> <%= f.text_field :audience, class: 'form-control audience' %><span> I want</span> <%= f.text_field :want, class: 'form-control wantfield' %></br></br> <span>so that I</span> <%= f.text_field :because, class: ' form-control becausefield' %></p>
					    
					  </div>
					  <div>
					  	<%= f.label :story_status %>
					  <%= f.select :status, options_for_select([['Backlog', 'backlog'], ['Committed', 'committed'],['Started', 'started'],['QA', 'qa'],['Complete','complete'],['Accepted','accepted']]), {}, {class: 'status'} %> 
					</div>

					  <div class="field">
					    <%= f.label :estimate %><br>
					    <%= f.select :estimate, options_for_select([['Taster', 'taster'], ['Pint', 'pint'], ['Growler', 'growler'], ['Keg', 'keg']]), {class: 'estimate'} %>
					  </div>
					  <%= f.hidden_field :value, class: 'value' %>
					  

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					    <%= f.submit 'Save', class: 'btn btn-primary' %>
	      </div>
	      	<% end %>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class= "container" style="width: 1250px; margin: auto;">

<%= yield %>

	</div>
</body>
</html>
